@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-dark text-gray-300;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-white;
  }
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}

@layer components {
  .btn-white {
    background-color: #ffffff !important;
    color: #111827 !important;
  }

  .btn-white:hover {
    background-color: #f3f4f6 !important;
  }
}
